@font-face {
  font-family: ActayWide-Thin;
  src: url("./ActayCondensed-Thin.otf");
}
@font-face {
  font-family: ActayWide-Regular;
  src: url("./Actay-Regular.otf");
}
@font-face {
  font-family: ActayWide-Bold;
  src: url("./ActayWide-Bold.otf");
}