.Authorization {
  position: relative;
  z-index: 1000;

  .header {
    color: #FDFDFD;
    font-family: 'ActayWide-Bold', sans-serif;
    font-size: 40px;
    margin-top: 200px;
    margin-bottom: 50px;
  }


  .textBlockDiv {
    position: relative;
    border-bottom: 2px solid white;
    margin-top: 60px;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000000s ease-in-out 0s;
      -webkit-text-fill-color: #fff !important;
    }
    .input {



      font-size: 20px;
      color: white;
      font-family: 'Raleway-Medium', sans-serif;
      width: 400px;
      border: none;
      background-color: transparent;
      position: relative;
      padding: 4px 15px;

      &:focus-visible {
        outline: none;
      }
    }

    .circle {
      position: relative;
      height: 38px;
      margin-right: 20px;

      .img {
        position: absolute;
        top: 0;
        left: -14px;
      }

      .imgC {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  .G-block {
    margin-top: 100px;
    padding: 30px 180px;
    display: block;
  }

}