@import "./source/styles/mixin.scss";
.App {
  background: #101010;
  height: 100vh !important;
  width: 100% !important;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;

  @include screen($tablet-l){
    background: linear-gradient(260deg, rgba(27,21,30, 1) 0%, rgba(55,18,40, 1) 100%);
  }




  .VectorsB {
    position: absolute;
    width: 100%;
    @include screen($tablet-l){
      display: none;
    }


    &:nth-child(1) {
      right: 0;
      bottom: -5%;
      z-index: 6;

      .vs {
        right: 0;
        bottom: 0;
        width: 85%;
      }
    }

    &:nth-child(2) {
      left: 0;
      bottom: 0;
      z-index: 10;

      .vs {
        left: 0;
        bottom: 0;
        width: 45%;
      }
    }

    &:nth-child(3) {
      right: 0;
      bottom: 0;
      z-index: 5;

      .vs {
        right: 0;
        bottom: 0;
        width: 80%;
      }
    }

    &:nth-child(4) {
      left: 0;
      bottom: 25%;
      z-index: 4;

      .vs {
        left: 0;
        bottom: 0;
        width: 65%;
      }
    }

    &:nth-child(5) {
      left: 0;
      bottom: 0;
      z-index: 7;

      .vs {
        left: 0;
        bottom: 0;
        width: 30%;
      }
    }

    &:nth-child(6) {
      left: 0;
      bottom: 10%;
      z-index: 6;

      .vs {
        left: 0;
        bottom: 0;
        width: 40%;
      }
    }


    .vs {
      position: absolute;
      z-index: 2;
    }

    .v {
      z-index: 1 !important;
    }
  }
  .eclipses1 {
    position: absolute;
    z-index: 111;
    right: -30%;
    top: -30%;
    width: 100%;
    opacity: 0.4;

  }
  .eclipses2{
    position: absolute;
    z-index: 111;
    right: -50%;
    bottom: -50%;
    width: 80%;
    opacity: 0.4;
  }
  .eclipses3{
    position: absolute;
    z-index: 111;
    left: -50%;
    bottom: -50%;
    width: 80%;
    opacity: 0.3;
  }
  .eclipses4{
    position: absolute;
    z-index: 111;
    left: -20%;
    top: -20%;
    width: 80%;
    opacity: 0.3;
  }
}